html {
	font-family: Lato;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow: hidden scroll;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 72px;
	background-color: rgb(50,50,200);
}

.navbar-title {
	font-size: 19pt;
	font-weight: 300;
	color: white;
}

.flex {
	display: flex;
}

.flex-hc {
	justify-content: center;
}

.flex-vc {
	-ms-align-items: center;
	align-items: center;
}

.main-content {
	margin-top: 102px;
}

.container {
	margin-bottom: 15px;
	margin-left: 80px;
	margin-right: 80px;
}

.card-box {
	border-radius: 4px;
	background-color: #f0f0f0;
	box-shadow: 0px 0px 1px;
	width: 100%;
	min-height: 100px;
	padding-bottom: 20px;
}

.card-box__title {
	font-size: 16pt;
	font-weight: 600;
	padding: 15px 15px;
}

.text-container {
	overflow: hidden scroll;
	text-overflow: wrap;
	background-color: #cacaca;
	box-shadow: 0px 0px 1px;
	min-height: 160px;
	margin: 10px 20px;
	margin-bottom: 30px;
	padding: 5px 15px;
}

button, button:hover, button:active, button:focus {
	outline: none;
	border: none;
}

.btn {
	padding: 7px 15px;
	font-size: 13pt;
	border-radius: 5px;
	margin: 0 20px;
}

.btn:hover {
	cursor: pointer;
}

.btn-send:hover {
	opacity: 1.0;
	transition: .4s ease;
}

.btn-send {
	background-color: rgb(50,50,200);
	opacity: 0.7;
	transition: .4s ease;
	color: white;
}

.text-editor {
	margin: 20px;
	border-radius: 2px;
	min-height: 180px;
}

.text-editor textarea {
	resize: none;
	width: 98%;
	min-height: 180px;
	padding: 10px;
	margin: 0;
	border: 1px solid black;
}

.options {
	display: block;
}

.options button {
	float: left;
}

.options .btn {
	margin: 0 0;
	border-radius: 3px;
	padding: 5px 0;
	width: 30px;
	transition: .4s ease;
}

.options .btn:hover,
.options .btn.active {
	background-color: #40A340;
	transition: .4s ease;
}
