body {
	overflow-x: hidden;
	background-color: #ddd;
	margin: 0;
	padding: 0;
}

.square {
	width: 200px;
	height: 200px;
}

.square-red {
	background-color: red;
}

.square-yellow {
	background-color: yellow;
}

.square-blue {
	background-color: #6060d3;
}

.square-gray {
	background-color: #999;
}

.top-left,
.top-right,
.bottom-left,
.bottom-right {
	position: absolute;
}

.top-left, 
.bottom-left {
	left: 10vw;
}

.top-left,
.top-right {
	top: 10vh;
}

.top-right,
.bottom-right {
	left: 70vw;
}

.bottom-left,
.bottom-right {
	top: 70vh;
}

.circle-around.top-left {
	animation-name: circle_around_top_left;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.circle-around.top-right {
	animation-name: circle_around_top_left;
	animation-delay: -1.5s;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.circle-around.bottom-right {
	animation-name: circle_around_top_left;
	animation-delay: -3s;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.circle-around.bottom-left {
	animation-name: circle_around_top_left;
	animation-delay: -4.5s;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

.circle-around.pause {
	animation-play-state: paused;
}

@keyframes circle_around_top_left {
	0% {
		top: 10vh;
		left: 10vw;
	}

	25% {
		top: 10vh;
		left: 70vw;
	}

	50% {
		top: 70vh;
		left: 70vw;
	}

	75% {
		top: 70vh;
		left: 10vw;
	}

	100% {
		top: 10vh;
		left: 10vw;
	}
}