html {
	font-family: Lato;
}

body {
	margin: 0;
	padding: 0;
	background-color: #ddd;
	overflow: hidden scroll;
}

body * {
	transition: .6s ease;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 72px;
	background-color: rgb(50,50,200);
}

.navbar-title {
	font-size: 19pt;
	font-weight: 300;
	color: white;
}

.flex {
	display: flex;
}

.flex-hc {
	justify-content: center;
}

.flex-vc {
	-ms-align-items: center;
	align-items: center;
}

.main-content {
	margin-top: 102px;
}

.container {
	margin-bottom: 15px;
	margin-left: 80px;
	margin-right: 80px;
}

.card-box {
	border-radius: 4px;
	background-color: #f0f0f0;
	box-shadow: 0px 0px 1px;
	width: 100%;
	min-height: 100px;
	padding-bottom: 20px;
}

.card-box__title {
	font-size: 16pt;
	font-weight: 600;
	padding: 15px 15px;
}

.card-box__paragraph {
	font-size: 13pt;
	font-weight: 300;
	padding: 3px 15px;
}

.card-box__image {
	display: block;
	margin: auto;
}

button, button:hover, button:active, button:focus {
	outline: none;
	border: none;
}

.btn {
	padding: 7px 15px;
	font-size: 13pt;
	border-radius: 5px;
	margin: 0 20px;
}

.btn:hover {
	cursor: pointer;
}

.btn-send:hover {
	opacity: 1.0;
	transition: .4s ease;
}

.btn-send {
	background-color: rgb(50,50,200);
	opacity: 0.7;
	transition: .4s ease;
	color: white;
}

.hidden {
	opacity: 0;
	transition: .6s ease;
}

.hflip {
	transform: scaleX(-1);
	transition: .6s ease;
}

.zoom-in {
	transform: scale(1.1);
	transition: .6s ease;
}