html {
	font-family: Lato;
	font-style: normal;
	font-weight: 100;
}

body {
	margin: 0;
	padding: 0;
}

a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: black;
}

.background-gray {
	background-color: #ddd;
}

.fullscreen {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.flex {
	display: flex;
}

.flex-vc {
	-ms-align-items: center;
	align-items: center;
}

.flex-hc {
	justify-content: center;
}

.beautify-link {
	font-size: 40pt;
	font-weight: 200;
	text-shadow: 1px 1px;
}